html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


body 
	margin 0
	background rgba(215,215,215,0.34)
	font-family: 'Raleway', sans-serif;



a 
	color #0C5BFF

.body-max
	max-width 1320px
	margin 0 auto
	padding-left 15px 
	padding-right 15px

.sec-head
	font-weight 800 
	text-align center
	font-size 32px

.home-card 
	width 300px
	height 300px
	position relative 
	padding 15px
	box-shadow none !important

.card-title 
	padding 5px 0px !important
	font-weight bold
	font-size 12px !important

.card-grid 
	max-width 1320px
	margin 0 auto
	outline 1px dotted green
	> div 
		margin 15px
		/*outline 1px dotted red*/

@media (min-width:675px)
	.card-grid 
		max-width:660px
		margin: 0 auto
@media (min-width:1005px)
	.card-grid 
		max-width:990px
		margin: 0 auto
@media (min-width:1335px)
	.card-grid 
		max-width:1320px
		margin: 0 auto

@media (max-width:674px)
	.home-card 
		width auto
		height auto

	.card-grid > div 
		position: relative !important
		top auto !important

	.card-grid 
		height: auto !important


.card-grid > div 
	outline: 1px dotted red


.hero-container
	background white 
	text-align center
	padding 30px 15px 15px

	.hero-txt 
		color #4A90E2
		font-size: 47px
		font-family: arial
		font-weight 100
		line-height: .9em
		margin: 10px 0 20px









// Main Nav 
.nav-container 
	padding: 30px 30px 0px
	height: 140px
	background: 'rgba(215,215,215,0.34)'

	.head-logo 
		background: transparent url('/assets/images/logo-head.png') no-repeat center center
		width: 160px
		height: 60px
		text-indent: -9999px

	.nav-sel 
		height: 50px
		background-color: #D8D8D8
		font-size: 18px !important
		margin: 10px 10px 0 15px
		svg 
			fill black !important

	.nav-btn
		height: 50px










// Footer

.main-footer
	background #1D3557
	color white 
	width 100%
	min-height: 70px
	margin-top: 40px
	padding: 25px 30px 0
	font-size: 19px
	font-weight 100

	a 
		color white
		text-decoration none
		margin-right: 20px

.left-footer
	float left

.right-footer 
	float right

