body 
	margin 0
	background rgba(215,215,215,0.34)
	font-family arial

a 
	color #0C5BFF

/*body
  color red*/

/* div 
 	outline 1px solid red*/


.body-max
	max-width 1290px
	margin 0 auto

.home-card 
	width 300px
	height 300px

.card-grid 
	> div 
		/*outline 1px dotted red*/





.hero-container
	background white 
	text-align center
	.hero-txt 
		color #4A90E2
















.main-footer
	background #1D3557
	color white 
	width 100%



