html 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height 100%
  height 100vh

*, *:before, *:after 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;



body 
	margin 0
	padding 0
	background rgba(215,215,215,0.34)
	font-family 'Raleway', sans-serif
	min-height 100%
	min-height 100vh



a 
	color #0C5BFF

.body-max
	max-width 1320px
	margin 0 auto
	padding-left 15px 
	padding-right 15px

.sec-head
	font-weight 800 
	text-align center
	font-size 32px

.home-card 
	width 300px
	height 300px
	position relative 
	padding 15px
	box-shadow none !important

.card-title 
	padding 5px 0px !important
	font-weight bold
	font-size 12px !important

.card-grid 
	max-width 1320px
	margin 0 auto
	outline 1px dotted green
	> div 
		margin 15px
		/*outline 1px dotted red*/

@media (min-width:675px)
	.card-grid 
		max-width:660px
		margin: 0 auto
@media (min-width:1005px)
	.card-grid 
		max-width:990px
		margin: 0 auto
@media (min-width:1335px)
	.card-grid 
		max-width:1320px
		margin: 0 auto

@media (max-width:674px)
	.home-card 
		width auto
		height auto

	.card-grid > div 
		position: relative !important
		top auto !important

	.card-grid 
		height: auto !important


.card-grid > div 
	outline: 1px dotted red


.hero-container
	background white 
	text-align center
	padding 30px 15px 15px

	.hero-txt 
		color #4A90E2
		font-size: 47px
		font-family: arial
		font-weight 100
		line-height: .9em
		margin: 10px 0 20px




.thumb
	img 
		width: 100%
		height: auto
		max-width 700px







// List Detail 

.list-detail-container
	position: relative

	.list-detail-cont 
		position: relative
		background-color: white
		margin-bottom: 30px
		padding: 60px 30px
		.likes-corner
			position: absolute 
			top 0px;
			left 0px
			width: 50px
			height: 50px
			background: red
		.save-corner
			position: absolute 
			top 0px;
			right 0px
			width: 50px
			height: 50px
			background: red

		.num-likes 
			text-align: center
			color #457BD9
			font-family: 'Roboto', sans-serif;
			font-size: 16px
			font-weight 700
			margin-bottom: 20px

		.list-head 
			text-align: center
			.num-head
				font-size: 45px
				font-weight 100
			h2 
				font-size: 73px
				font-weight 800
				margin: 0 0px 15px
				letter-spacing: -2px

			.list-descr 
				font-size: 24px

			.list-head-social
				display: inline-block 
				width: 300px
				height: 50px 
				text-align: center
				background: blue
				margin: 20px 0 40px

		.list-item 
			h3 
				font-size: 52px
				font-weight 800
				margin 10px 0 15px
				span 
					font-family: 'Roboto', sans-serif;
					font-weight 100
			p 
				font-size: 24px
				margin: 0 0 30px 


	.list-detail-sidebar

		.side-head-best
			border-top 15px solid #457BD9
			padding-top: 8px
			padding-bottom: 10px
			margin: 0px
			font-size: 24px
			font-weight 800



@media (min-width:851px)
	.list-detail-cont 
		margin-right: 330px
	.list-detail-sidebar
		width: 300px 
		position: absolute
		top 0px
		right 15px



// Main Nav 
.nav-container 
	padding: 30px 30px 0px
	height: 140px
	background: 'rgba(215,215,215,0.34)'
	> div 
		padding-right: 0px !important

	.head-logo 
		background: transparent url('/assets/images/logo-head.png') no-repeat center center
		width: 160px
		height: 60px
		text-indent: -9999px

	.nav-sel 
		height: 50px
		background-color: #D8D8D8
		font-size: 18px !important
		margin: 10px 10px 0 15px
		svg 
			fill black !important

	.nav-btn
		height: 50px




// Login

.log-block {
  text-align: center;
  height 100vh;
}
 
.log-block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
 }
 
.log-centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  width: 100%;
 }

.log-centered
	p 
		color #4A90E2
		font-size 45px
		margin 0
		padding 0 50px
	img
		display block
		margin 0 auto 34px

	.log-btns 
	 	display inline-block
	 	margin-top 50px
	 	a 
	 		display inline-block
	 		margin 0 3px



// Footer

.main-footer
	background #1D3557
	color white 
	width 100%
	min-height: 70px
	margin-top: 40px
	padding: 25px 30px 0
	font-size: 19px
	font-weight 100
	/*position: fixed
	width: 100%
	bottom 0px
	left 0px
	z-index: 5*/

	a 
		color white
		text-decoration none
		margin-right: 20px

.left-footer
	float left

.right-footer 
	float right


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.hide 
	display none !important
